<mat-card class="background-gradient-color ">
  <div class="font-gradient-color">
    <mat-card-title>
      Create new cocktail
    </mat-card-title>
    <mat-card-subtitle>
      Mix and match
    </mat-card-subtitle>
    <mat-card-content>

      <Form [formGroup]="cocktailForm">
        <mat-form-field class="background-gradient-color" floatLabel="always">
          <div>
            <label for="name">Cocktail name: </label>
            <input matInput required id="name" type="text" formControlName="name">
          </div>
        </mat-form-field>

        <mat-form-field class="background-gradient-color" floatLabel="always">
          <label for="decription">Description: </label>
          <input matInput required id="decription" type="text" formControlName="desc">
        </mat-form-field>

      </Form>
      <br>


      <br>
      <mat-card-actions>
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button class="font-gradient-color" mat-button type="button" class="btn btn-success" (click)="file.click()">
          Upload image
        </button>

        <div *ngIf="imgObj!=null">
          <img style="width: 200px; margin-left:  10%;" [src]="createImgPath(imgObj.dbPath)" alt="">
          <app-chip-input [cocktail_id_Parent]="cocktail_id" ></app-chip-input>

        </div>

      </mat-card-actions>
    </mat-card-content>

    <mat-card-actions>
      <button class="font-gradient-color"  mat-button>Add Cocktail</button>
    </mat-card-actions>


  </div>

</mat-card>



