<mat-accordion class="center" multi="true" hideToggle *ngFor="let cocktail of cocktails; let i=index" >
  <mat-expansion-panel  class="background-gradient-color">
    <img [srcset]="createImgPath(cocktail.imgPath)" alt="">
    <mat-expansion-panel-header id="center">
      <mat-panel-title class="font-gradient-color" >
       Cocktail: {{cocktail.coctailName}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let ing of cocktail.cocKtail_Ingrediants; let p=index">
<!--      <li> id: {{ing.id}}</li>-->
      <div class="ingredient-position" >
        <p  class="font-gradient-color"> Ingredient  : {{ing.name}}  </p>
        <button mat-button>
        <mat-icon (click)="deleteIngredient(cocktail.id,ing.id)" class="font-gradient-color">cancel</mat-icon>
        </button>
        <p  class="font-gradient-color">Amount cl: {{ing.amount_cl}}</p>
      </div>
    <div>

    </div>
    </div>
    <mat-panel-description  class="font-gradient-color">
      Description {{cocktail.description}}
    </mat-panel-description>
    <mat-action-row  >
<!--      <button  class="font-gradient-color" mat-button>Update</button>-->
      <button  (click)="deleteCocktail(cocktail.id)" class="font-gradient-color" mat-button>Remove</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>


