.mat-form-field .mat-form-field {
  margin-left: 8px;
}
img{
  border-radius: 20%;

  /*height: 40%;*/
  width: 40%;
}
.center {
  text-align: center;
}
#center{
  text-align: center;
}
.ingredient-position{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
