<Form class="example-form" [formGroup]="amountForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Amount cl</mat-label>
    <input matInput formControlName="amount" (keypress)="onlyNr($event)"   type="number" >
  </mat-form-field>
  {{amountForm.value.amount}}
</Form>

<mat-form-field class="example-chip-list background-gradient-color"  id="chip-item" appearance="fill">
  <mat-label class="font-gradient-color">Add ingredient</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection" class="font-gradient-color" >
    <mat-chip
      class="font-gradient-color"

      *ngFor="let item of  ingredientsObjects"
      (removed)="remove(item)">
      {{item.name}}
      <button matChipRemove>
        <mat-icon  class="font-gradient-color">cancel</mat-icon>
      </button>
    </mat-chip>
    <input
     class="input-class"
      #ingredientInput
      [formControl]="ingredientCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">


    <br>
  </mat-chip-list>
  <mat-autocomplete  #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option class="font-gradient-color" *ngFor="let item of  filteredIngredients | async" [value]="item">
      {{item}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>


{{ingredientCtrl.value}}
