/*@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');
.example-spacer {
  flex: 1 1 auto;
}
#span{
 padding-left: 30%;
  /*font-family: 'Neonderthaw', cursive;*/
  /*font-family: 'Bungee Outline', cursive;*/
  font-family: 'Kumar One Outline', cursive;
  font-size: 120%;
}


.cocktail-logo{
  display: block;

  width: 5rem;
}
.cocktail-log-two{
  display: block;
  margin-left: 35%;
  width: 3rem;
}

.center{
  background-color: transparent;
}
a{
  text-decoration: none;
}
.nav-link{
  display: flex;
}
.nav-link>a{
  margin: 10px;
  padding: 20px;
  font-size: 1rem;
}
