<p>
  <mat-toolbar class="background-gradient-color">
    <ng-template [ngIf]="innerWidth<600">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">
          <mat-icon class="font-gradient-color">
            menu
          </mat-icon>
        </button>
      </button>
    </ng-template>
<div class="nav-link">
  <a routerLink="">Home</a>
  <a routerLink="/list">Cocktails</a>
  <a routerLink="/create">New Cocktail</a>
  <a routerLink="/logout">Sign out</a>
</div>

<img class="cocktail-log-two" src="/assets/images/cocktail11icon.png" alt="">
<img class="cocktail-logo" src="/assets/images/cocktail11textlogo2.png" alt="">

<span class="example-spacer"></span>
<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon class="font-gradient-color">favorite</mat-icon>
</button>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon class="font-gradient-color">share</mat-icon>
</button>

<!--{{innerWidth}}-->

<mat-menu class="input-class" #appMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item><a routerLink="">Home</a></button>
  <button mat-menu-item><a routerLink="/list">Cocktails</a></button>
  <button mat-menu-item><a routerLink="/create">New Cocktail</a></button>
  <button mat-menu-item><a routerLink="/logout">Sign out</a></button>

</mat-menu>

