@import '~@aws-amplify/ui-angular/theme.css'; /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  /*background-color:#f986b7;*/
}

/*.background-gradient-color{*/
/*  background-image: linear-gradient(109deg, rgba(58,39,71,1) 0%, rgba(86,70,98,1) 97%);*/

/*}*/
/*.font-gradient-color {*/
/*  background-image: linear-gradient(91deg, rgba(245,46,128,1) 0%, rgba(255,121,181,1) 100%);*/
/*  -webkit-background-clip: text;*/
/*  -webkit-text-fill-color:#f986b7 ;*/
/*}*/

/*input::placeholder{*/
/*  background-image: linear-gradient(91deg, rgba(245,46,128,1) 0%, rgba(255,121,181,1) 100%);*/
/*  -webkit-background-clip: text;*/
/*  -webkit-text-fill-color: transparent;*/
/*}*/
/*.input-class{*/
/*  background-image: linear-gradient(91deg, rgba(245,46,128,1) 0%, rgba(255,121,181,1) 100%);*/
/*  -webkit-text-fill-color: whitesmoke;*/
/*}*/

